<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src=".\static\js\script.js"></script>
    <title>Wiki-Anime List!</title>
</head>
<body>
    <h1>Wiki-Anime List!</h1>
    <h2>Encontre seus animes</h2>

    <input type="text" id="meuTexto" name="meuTexto">
    <button onclick="capturarTexto()">Enviar</button>
    
    <!-- Contêiner para as miniaturas -->
    <div id="jsonContainer"></div>    

</body>
</html>
